[submodule "ACC-docs"]
	path = ACC-docs
	url = https://github.com/gaepo-japcho/ACC-docs.git
	branch = main
[submodule "ACC-autosar"]
	path = ACC-autosar
	url = https://github.com/gaepo-japcho/ACC-autosar.git
	branch = main
[submodule "ACC-Arduino"]
	path = ACC-Arduino
	url = https://github.com/gaepo-japcho/ACC-Arduino.git
	branch = main
[submodule "ACC-RPI"]
	path = ACC-RPI
	url = https://github.com/gaepo-japcho/ACC-RPI.git
	branch = dev
[submodule "ACC-CANDB"]
	path = ACC-CANDB
	url = https://github.com/gaepo-japcho/ACC-CANDB.git
	branch = main
